<p-dropdown
  [options]="(users$ | async) ?? []"
  [ngModel]="selectedUser$ | async"
  (ngModelChange)="selectUser($event)"
>
  <ng-template pTemplate="selectedItem" let-item>
    {{ item.email }}
  </ng-template>
  <ng-template pTemplate="item" let-option>
    {{ option.email }}
  </ng-template>
</p-dropdown>

<p-card>
  <ng-container *ngIf="selectedUser$ | async as selectedUser; else noSelection">
    <pre>{{ selectedUser | json }}</pre>
  </ng-container>
</p-card>

<ng-template #noSelection>
  <i class="pi pi-info-circle"></i>
  No user selected
</ng-template>
